.minecraft/.fabric/
.minecraft/.quilt/
.minecraft/.mixin.out/
.minecraft/ModTranslations/
.minecraft/saves/
.minecraft/logs/
.minecraft/crash-reports/
.minecraft/screenshots/
.minecraft/usercache.json
.minecraft/config/minihud/
.minecraft/baritone/**/
.minecraft/indicatia/
.minecraft/voxelmap/cache/
.minecraft/voxelmap/*
!.minecraft/voxelmap/biomecolors.txt
.minecraft/dashloader-cache
.minecraft/.icons/
.minecraft/config/litematica/
.minecraft/XaeroWorldMap/
.minecraft/XaeroWaypoints*/
.minecraft/meteor-client/
.minecraft/not-enough-crashes/
.minecraft/mods/meteor-client**
.minecraft/mods/*.jar
!.minecraft/mods/cloth-config-6.2.57-fabric.jar
!.minecraft/mods/illuminations-1.10.4.jar
!.minecraft/mods/minimalmenu-1.18.2-0.1.5.jar
.minecraft/packwiz*
