.minecraft/.fabric/
.minecraft/.mixin.out/
.minecraft/ModTranslations/
.minecraft/saves/
.minecraft/logs/
.minecraft/crash-reports/
.minecraft/screenshots/
.minecraft/usercache.json
.minecraft/config/minihud/
.minecraft/baritone/**/
.minecraft/indicatia/
.minecraft/voxelmap/cache/
.minecraft/voxelmap/*
!.minecraft/voxelmap/biomecolors.txt
.minecraft/dashloader-cache
.minecraft/.icons/
.minecraft/config/litematica/
.minecraft/XaeroWorldMap/
.minecraft/XaeroWaypoints*/
.minecraft/meteor-client/
.minecraft/not-enough-crashes/
.minecraft/mods/meteor-client**
.minecraft/mods/slight-gui-modifications**
.minecraft/mods/*.jar
!.minecraft/mods/SmoothScrollingEverywhere-3.0.3-unstable.jar
!.minecraft/mods/baritone-api-fabric-1.8.0.jar
.minecraft/packwiz
